{{ if len .Site.Taxonomies.categories }}
  <div class="widget-wrapper">
    <div
      class="widget-wrap"
      data-aos="{{ .Site.Params.animation.options.home.widget }}"
    >
      <div style="display: flex; justify-content: space-between;">
        <h3 class="widget-title">{{ i18n "categories" }}</h3>
        {{ if gt (len .Site.Taxonomies.categories) .Site.Params.category_limits }}
          <a class="widget-link" href="{{ "categories/" | relURL }}">{{ i18n "more" }}</a>
        {{ end }}
      </div>
      <div class="widget">
        <ul class="category-list">
          {{ $counter := 0 }}
          {{ range .Site.Taxonomies.categories }}
            {{ if lt $counter $.Site.Params.category_limits }}
              <li class="category-list-item">
                <a class="category-list-link" href="{{ .Page.RelPermalink }}"
                  >{{ .Page.Title }}</a
                >
              </li>
              {{ $counter = add $counter 1 }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}
