{{ if len .Site.Taxonomies.tags }}
  <div class="widget-wrapper">
    <div
      class="widget-wrap"
      data-aos="{{ .Site.Params.animation.options.home.widget }}"
    >
      <div style="display: flex; justify-content: space-between;">
        <h3 class="widget-title">{{ i18n "tags" }}</h3>
        {{ if gt (len .Site.Taxonomies.tags) .Site.Params.tag_limits }}
          <a class="widget-link" href="{{ "tags/" | relURL }}">{{ i18n "more" }}</a>
        {{ end }}
      </div>
      <div class="widget">
        <ul class="tag-list" itemprop="keywords">
          {{ $counter := 0 }}
          {{ range .Site.Taxonomies.tags }}
            {{ if lt $counter $.Site.Params.tag_limits }}
            <li class="tag-item">
                <a
                  class="tag-link"
                  href="{{ .Page.RelPermalink }}"
                  aria-label="{{ i18n "tag" }}: {{ .Page.Title }}"
                >
                  {{ .Page.Title }}
                </a>
              </li>
              {{ $counter = add $counter 1 }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
{{ end }}
